<html>
  <head>
    {{#PRODUCTION}}
      <style>{{{css}}}</style>
    {{/PRODUCTION}}
    {{#DEVELOPMENT}}
      <link rel="stylesheet" type="text/css" href="/build.css" />
    {{/DEVELOPMENT}}
  </head>
  <body>
    <h1>hey there boys and girls</h1>
    {{#PRODUCTION}}
      <script>{{{js}}}</script>
    {{/PRODUCTION}}
    {{#DEVELOPMENT}}
      <script src="http://localhost:5000/build.js"></script>
    {{/DEVELOPMENT}}
  </body>
</html>